.container {
  background: url('../images/bg_intro.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 768px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}
.login_wrap {
  width: 74.22%;
  padding: 66.1% 0 25% 0;
  margin: 0 auto;
}
.logo {
  background: url('../images/logo.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 57.544%;
  padding: 24.564% 0;
  margin: auto;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.btn_wrap {
  margin-top: 20.7%;
}
.btn_wrap a {
  display: block;
  text-decoration: none;
  position: relative;
  text-align: center;
  font-size: 1.75rem;
  padding: 5.265% 0;
  color: white;
  border: 1px solid white;
}
.btn_wrap a img {
  position: absolute;
  top: 0;
  left: 10%;
  bottom: 0;
  margin: auto;
}
.btn_wrap a .login_btn {
  width: 6.515%;
}
.btn_wrap .join {
  margin-top: 3%;
}
.btn_wrap .join .join_btn {
  width: 6.692%;
}
