html {
  height: 100%;
}
html body {
  height: 90%;
}
html body #wrap {
  max-width: 768px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}
/* header :: S */
html body #wrap header {
  position: relative;
  width: 100%;
  padding: 2.93% 0;
  z-index: 1;
  background: #e43737;
}
html body #wrap header .back {
  width: 2.995%;
  padding: 3% 0;
  position: absolute;
  top: 0;
  left: 5%;
  bottom: 0;
  margin: auto;
}
html body #wrap header .back img{
  width: 100%;
}
html body #wrap header h1 {
  color: white;
  text-align: center;
  font-family: 'malgungothic';
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 134%;
}
/* header :: E */

/* footer :: S */
html body #wrap footer {
  width: 100%;
  max-width: 768px;
  position: fixed;
  background: #32343d;
  bottom: 0;
  z-index: 10;

}
html body #wrap footer ul:after {
  display: block;
  content: '';
  clear: both;
}
html body #wrap footer ul li {
  width: 25%;
  padding: 2.1% 0 1.807% 0;
  float: left;
  text-align: center;
}
html body #wrap footer ul li a{
  display: inline-block;
}
html body #wrap footer ul li a img{
  width: 100%;
  vertical-align: middle;
}
html body #wrap footer ul li .friend_btn{
  width: 22.4%;
}
html body #wrap footer ul li .talk_btn{
  width: 27.61%;
}
html body #wrap footer ul li .guild_btn{
  width: 27.61%;
}
html body #wrap footer ul li .game_btn{
  width: 25.521%;
}
/* footer :: E */

input[type='checkbox'] {
  display:none;
}

/* ì•„ì´í° input ë‘¥ê·¼í…Œë‘ë¦¬ ê·¸ë¦¼ìž ì œê±° */
input{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
/* select í™”ì‚´í‘œ ì—†ì• ê¸° */
select{
  background: white;
  -webkit-appearance: none; 
  -moz-appearance: none;    
  appearance: none;
}
select::-ms-expand {
  display: none;            
}
/* ë¡œë”©ì¤‘ í™”ë©´ */
.loading{
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99; 
}
 #loading-image {
  max-width: 768px;
  width: 10%;
  position: absolute; 
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 100; 
}